* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.wrapper {
    width: 400px;
    height: 500px;

    background-color: #000;

   
    border-radius: 10px;

    display: flex;
    overflow: hidden;
    flex-direction: column;

 
    align-items: center;

    box-shadow: 0px 0px 50px rgb(61, 0, 160);
    
}

h2 {
    color: rgb(255, 255, 255);
    margin-bottom: 40px;
    font-family: 'Arial Black', 'Arial', sans-serif;
    margin-top: 35px;
    font-size: 25px;
    text-align: center;
  
}

h1 {
    color: rgb(110, 110, 110);
    font-family: 'Roboto', sans-serif;
 
    font-size: 15px;
    margin-top: 3px;
    padding: 3px;
    text-align: center;
}

input {
    width: 80%;
    padding: 12px;
    border: none;
    border-radius: 6px;
    outline: none;
    font-size: 16px;
    margin-bottom: 20px;
    background-color: rgb(8, 8, 8);

    border: 2px solid #131313;
}

.login {
    margin-top: 5px;
    width: 50%;
    height: 10%;


    border-radius: 10px;
    
    font-family: 'Arial Black', 'Arial', sans-serif;
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(rgb(199, 58, 255), rgb(133, 38, 250));
}


.Register {
    color: rgb(69, 119, 255);
    font-family: 'Roboto', sans-serif;
 
    font-size: 15px;
}

.logo-wrapper {
    margin-top: 10px;
    width: 300px;
    height: 38px;
    background-color: rgb(0, 0, 0);

    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: 20px;
    margin: 0;
}